certifi==2020.6.20
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
jsonify==0.5
#kiwisolver @ file:///C:/ci/kiwisolver_1604014703538/work
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1603355780617/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
olefile==0.46
pandas @ file:///C:/ci/pandas_1608068219821/work
Pillow @ file:///C:/ci/pillow_1603823068645/work
pyparsing==2.4.7
python-dateutil==2.8.1
#pytz @ file:///tmp/build/80754af9/pytz_1606604771399/work
PyYAML==5.3.1
requests==2.25.1
scikit-learn==0.24.0
scipy @ file:///C:/ci/scipy_1604596260408/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
sip==4.19.13
#six @ file:///C:/ci/six_1605187374963/work
sklearn==0.0
template==0.6.2
threadpoolctl==2.1.0
toml==0.10.2
#tornado @ file:///C:/ci/tornado_1606942392901/work
urllib3==1.26.2
Werkzeug==1.0.1
wincertstore==0.2
